PUBLIC_URL=https://boodschappen.example.nl
OWNER_EMAIL=jij@gmail.com
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APPLE_CLIENT_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY_FILE=/data/AuthKey.p8
ALLOWED_EMAILS=
# Alleen lokaal testen, nooit publiek:
# DEV_LOGIN=1
